Django==3.2.25
waitress==2.1.2
whitenoise==5.3.0
openpyxl==3.1.2
Pillow<=9.5.0; python_version < "3.8"
Pillow>=10.0.0; python_version >= "3.8"
reportlab==3.6.13; python_version < "3.8"
reportlab>=4.0.0; python_version >= "3.8"
pyinstaller==4.10; python_version < "3.11"
pyinstaller>=6.0; python_version >= "3.11"
pywebview==3.7.2; python_version < "3.8"
pywebview>=4.4; python_version >= "3.8"